*{
    font-family: Arial;
    color: white;
}
div{
    width: 30%;
    background-color: lightpink;
    margin: 1rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
ol>li{
    background-color: deeppink;
    height: fit-content;
    list-style-position: inside;
    padding: 10px;
    margin: 10px;
    background-color: deeppink;
}
span{
    background-color: darkred;
    padding: 10px;
    margin: 10px;
}